*{
    margin: 0;
    padding: 0;
}
/* #region general */
body{
    font-family: 'Cinzel Decorative', cursive;
}

section{
    width: 428px;
    height: 1432px;
}

.background{
    width: 428px;
    height: 100%;
    object-fit: cover;
}

.head{
    position: absolute;
    top: 14px;
    left: 100px;
    text-align: center;
    font-weight: 900;
    font-size: 28px;
    color: #DAB65C;
    border: solid 2px;
}
/* #endregion general */

/* #region grid */
.grille{
    position: absolute;
    top: 75px;
    left: 10px;
    display: grid;
    justify-content: center;
    /* margin: 45px; */
    width: 95%;
    height: 1350px;
    grid-template-columns: repeat(2, 192px);
    column-gap: 20px;
}

.grid-item{
    width: 192px;
    height: 187px;
    background: #DAB65C;
    opacity: .3;
}
/* #endregion grid */

/* #region card */
.ui-card{
	width: 350px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background:radial-gradient(#111 50%, #000 100%);
/* #endregion card */
