:root{
    --gold: #DAB65C;
}

* {
    margin:0;
    padding:0;
}

body{
    margin: auto;
    font-family: 'Cinzel Decorative', cursive;
}
/* #region header */

.header{
    display: flex;
}

.bordure{
    width:100%;
}
/* #endregion header */

/* #region main */   
main{
    position: relative;
    height: 918px;
    background-image: url(../images/homepagebackground.jpg);
    background-size: cover;
    background-position: center;
}

.logo {
    position: absolute;
    top: 48px;
    left: 10px;
    width: 42px;
    height: 43px
}

.slogan{
    position: absolute;
    top: 20%;
    left: 6%;
    font-size: 23px;
    color: #DAB65C;
    letter-spacing: 3.5px;    
}
/* #endregion main */

/* #region sidebar */
.sidebar{
    position: absolute;
    top: 100px;
    width: 300px;
    height: 80%;
    background-color: #eeb08b;
    opacity: 0.8;
    left:-300px;
    transition: .4s;
    z-index: 4;
}


.sidebar ul li{
    list-style: none;
    color:#DAB65C;
    font-size: 23px;
    padding: 50px 30px;
    text-align: center;
}

.sidebar.active{
    left: 0;
}

/* #endregion sidebar */

/* #region burger */
.burger{
    position: absolute;
    left: 320px;
    width: 42px;
    height: 40px;
     /* background-color: #DAB65C; */
}

.burger span{
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #707070;
    top: 50%;
    transform: translateY(-50%);
    /* transition quand js entends le clic et active le toggle*/
    transition: background-color 0.5s ease-in-out;
}

.burger span::before, .burger span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #707070;
    transition: transform 0.5s ease-in-out;
}

.burger span::before{
    transform: translateY(-10px);
}

.burger span::after{
    transform: translateY(10px);
}

.burger.active span{
    /* faire disparaitre barre du milieu */
    background-color: transparent;
}

.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}


/* #endregion burger */

/* #region footer */
.social-links{
    display: flex;
    background-color: #3e4144;
}


.social-links ul{
    display: flex;
    margin: auto;
}
    

.social-items{
    list-style: none;
}

.social-items a{
    padding: 5px 20px;
    font-size: 30px;
    color: #DAB65C;
    transition: all .25s;
}

.quick-links{
    display: flex;
    background-color: slategray;
}

.quick-links ul{
    display: flex;
    margin: auto;
}

.quick-items{
    list-style: none;
}

.quick-items a{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 13px;
    color: #DAB65C;
    transition: all .25s;
}

.quick-items a:hover{
    color: #bda771;
    
}

.social-items a:hover{
    color: #bda771;
}
/*#endregion footer*/

/* #region mediaqueries */

@media screen and (min-width: 481px) {
.slogan{
    left: 20%;
    font-size: 30px;
    letter-spacing: 5px;
}
}

@media screen and (min-width: 1025px) {
.slogan{ 
    left: 20%;
    font-size: 30px;
    letter-spacing: 5px;
}

.sidebar {  
    display:flex;
    width: 100%;
    height: 12px;
    align-items:center; 
    justify-content:space-between;   
    padding:10px;
    background-color:#EEB08B;
    left: 0px;
    top: 0px;
  }
  .navbar-links { 
    display:flex;  
  }
  .navbar-link { 
    padding:0 10px;
  }

  .sidebar ul li{
    list-style: none;
    color:#DAB65C;
    font-size: 25px;
    padding: 50px 30px;
    text-align: center;
}
 
  

  .burger {
    display:none;
  }


/*#endregion mediaqueries*/